@import '../../variables';

.createTodo {
    .buttonArea {
        text-align: center;
    }
    .pickerLayout {
        margin-top: 8px;
        margin-bottom: 4px;
    }
    .dateTimePicker {
        width: 100%;
    }
}